body {
  margin: 0;
  padding: 0;
  background-image: url("../images/Background_image.png");
  background-repeat: no-repeat;     /* לא לחזור על התמונה */
  background-size: 100% 100%;  /* רוחב מלא, גובה מותאם אוטומטית */
  min-height: 100vh;
}  
.Wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.logo{
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 100px;
  padding: 0;
  width: 800px; 
  height: 300px;
  background-image: url("../images/Backgroung_logo.png");
  background-size: 100% auto;  /* רוחב מלא, גובה מותאם אוטומטית */
  background-repeat: no-repeat;     /* לא לחזור על התמונה */
  background-position: center;
}
h1{
  margin: 0;
  padding: 0;
  color: black;
  font-size: 50px;
  text-align: right;
  direction: rtl;
  font-family: 'Inter', sans-serif;
}
h2{
  font-size: 50px;
  margin: 0;
  padding: 0;
  color: #256586;
  text-align: right;
  direction: rtl;
  font-family: 'Inter', sans-serif;
}
.userBlock{
  padding: 0;
  margin-left: 25px;
  margin-top: 20px;
  width: 975px; 
  height: 100px;
  background-color:#FFFFFF ;
  display: flex;
  align-items: center; 
  text-align: right;   
  direction: rtl; 
  cursor: pointer;
}
.userBlock img{
  margin-right :20px;
}
.userBlock h3{
  margin-right: 20px;
  font-size: 32px;
  font-weight: normal;
  font-family: 'Inter', sans-serif;
}
.selection{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.selection button{
  width: 600px; 
  height: 130px;
  border-radius: 45px;
  font-size: 40px;
  font-weight: bold;
  background-color: #55E8D5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}
footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    cursor: pointer;
    margin-bottom: 40px;
}
.icon img{
    margin-bottom: 5px;
}
.icon h3{
    font-size: 20px;
    font-weight: normal;
    color: #0E4866;
    margin: 0;
    white-space: nowrap; /* מונע שבירת שורה בטקסט */
    font-family: 'Plus Jakarta Sans', sans-serif;
}


.login-form{
    display: flex;
    flex-direction: column; /* אלמנטים אחד מעל השני */
    align-items: center;
}
.input-with-icon{
  position: relative;
  width: 100%;
  direction: rtl; /* מתאים לעברית */
  margin-bottom: 15px;
  margin-right: 20px;
}
.input-with-icon input{
  border: 1px solid #ccc;
  font-size: 50px;
  border-radius: 45px;
  padding: 0;
  margin-left: 25px;
  margin-top: 20px;
  width: 915px; 
  height: 100px;
  text-align: right;   
  direction: rtl; 
  padding-right: 60px;
}
.input-with-icon input::placeholder {
  color: #000;
}
.input-icon{
  position: absolute;
  top: 60%;
  margin-right: 900px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  pointer-events: none; /* שלא יפריע ללחיצה */
  opacity: 0.6;
}
.helper{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    direction: rtl;
    margin-bottom: 5px;
}
.helper h2{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 40px;
    color: #256586;
    margin-right: 20px;
}
.helper a{
    color: #076FCA;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    font-weight: bold;
}
.helper a:hover{
    color: #065da8;
}




/**/
Header{
  display: flex;
  margin-left: 40px;
  gap: 700px;
  align-items: center;

}
.profile-link{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #308075;
  font-size: 24px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.profile-link p{
  text-align: right;
}
.language-link {
  display: flex;
  flex-direction: column; 
  align-items: center;       
  text-decoration: none;     
}
.language-link img{
  width: 60px;
}
.language-link p{
  margin: 0;
  padding: 0;
  color: #308075;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.image-with-background{
  position: relative;
  display: flex;
  justify-content: center; 
}
.logo-back-elipse {
  width: 1000px;
  height: 400px;
  display: block;
}
.front-logo {
  position: absolute;
  top: 80px;
  left: 100px;
  width: 800px;
  height: 250px;
}
.button-background {
  width: 10000px;
  height: 300px;
  display: block;
}
.button-on-background {
  position: absolute;
  top: 50%;           /* מיקום אנכי */
  left: 50%;          /* מיקום אופקי */
  transform: translate(-50%, -50%); /* ממרכז את הכפתור */
  width: 400px;
  height: 100px;
  background-color: #3EC5DA;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 40px;
  -webkit-text-stroke: 1px #3F98B8; /* מסגרת שחורה */
}
.icons-container{
  display: flex;
  flex-wrap: wrap;
  column-gap: 200px; 
  row-gap: 0px;   
  justify-content: center;
}
.icon-with-background{
  position: relative;
  display: flex;
  justify-content: center; 
  width: 200px;
  height: 200px;
}
.icon-background{
  width: 200px;
  height: 200px;
  display: block;
  opacity: 0.7; /* 0 = שקוף לגמרי, 1 = אטום לגמרי */

}
.icon-on-background{
  position: absolute;
  top: 60px;          
  left: 45px;        
  width: 100px;
  height: 100px;
}



